<div *ngFor="let selectComment of $selectComments | async" class="card w-100 mt-md-2">
  <div class="card-body">
    <p class="card-text">
      {{selectComment?.comment}}
    </p>
    <a (click)="removeComment(selectComment)">Remove</a>
  </div>
</div>

<form #form="ngForm" (submit)="submitForm(form.value)" class="mt-md-2 mb-md-4">
  <div class="form-group">
    <label for="comment">Write comment</label>
    <textarea class="form-control" name="comment"  id="comment" rows="3" ngModel></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
