<div class="card w-100">
  <div class="card-body">
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="card-link">Remove</a>
  </div>
</div>

<form class="mt-md-2 mb-md-4">
  <div class="form-group">
    <label for="exampleTextarea">Write comment</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
