<div class="card w-100">
  <div class="card-body">
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="card-link">Remove</a>
  </div>
</div>

<form #form="ngForm" (submit)="submitForm(form.value)" class="mt-md-2 mb-md-4">
  <div class="form-group">
    <label for="comment">Write comment</label>
    <textarea class="form-control" name="comment"  id="comment" rows="3" ngModel></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
